
.contactUs{
  background-image: url('./../../public/assets/images/contactUs/contactUs.jpg');
  background-size: 100% 54%;
  background-repeat: no-repeat;
  position: relative;

  .login a {
    color: white !important;
  }

  .headContainer {
    position: relative;
    height: 300px !important;
  }

  .head {
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .head h1 {
      font-weight: 500;
      font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
      margin-bottom: 3rem;
    }
  }

  .formContainer {
    background-color: white;
    padding: 3rem;
    top: 50%;
    left: 0;
    right: 0;
    border-radius: 30px;
    position: relative;
    height: auto !important;
    margin-bottom: 5rem;

    p {
      margin-bottom: 0 !important;
      font-weight: 400;
      font-size: 15px;
    }

    label {
      color: var(--maincolor);
      font-size: 13px;
    }

    input,
    textarea,
    .react-tel-input {
      background-color: white !important;
      font-size: 13px;
      border-radius: 10px;

    }

    input,
    .react-tel-input {
      height: 65px;
    }

    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 40px white inset !important;
    }

    .react-tel-input {
      width: 100% !important;
    }

    .react-tel-input .form-control {
      height: 65px !important;
    }

    .react-tel-input .flag-dropdown {
      border-radius: 10px !important;
      border-color: var(--emptyinput);
    }

    textarea {
      height: 100px !important;
    }

    iframe {
      width: 100% !important;
    }

    button {
      position: absolute;
      right: 10%;
      bottom: -13px;
      border-radius: 10px !important;
    }
  }
}
@media (max-width: 768px) {
  .contactUs{
    background-size: 100%;
  }
}


