.header {
    background-image: url("./../../../public/assets/images/home/header/background.svg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: unset !important;
    width: 100%;
    margin-bottom: 10px;
    p {
    font-size: 16px;
}

.imgLeft {
    border-radius: 20px;
}

.videoHeader {
    border-radius: 30px !important;
    width: 100% !important;
    height: 500px !important;
    position: relative;
    z-index: 2;
}

.titleImg{
    position: absolute;
    bottom: 0;
    left: -170px;
}

}

@media(max-width:568px) {
    .header {
           .videoHeader {
        height: 400px !important;
    }
    }
 }