.newsletter {
    background-image: url('./../../../public/assets/images/home/newsletter/background.svg');
    background-position: center;
    background-size: cover;
    height: 50%;
    margin: auto 0;
    border-radius: 30px;
    padding: 30px 14px;
    color: white;
    position: relative;

h4 {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    padding: 20px;
    text-align: center;
}

 h4 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    font-size: calc(14px + (35 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: 3rem;
    text-align: justify;
}

.emailNewsetter {
    position: absolute;
    width: calc(250px + (450 - 250) * ((100vw - 300px) / (1600 - 300)));
    bottom: -25px;
    z-index: 2;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    height: 70px;
}
}

@media(max-width:568) {
    .newsletter{
        height: 500px; 
        .emailNewsletter {
        width: 90%;
    }
    }

}