.services {
  .img {
    width: 100%;
  }

  .head {
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    h1 {
      font-weight: 500;
      font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1600 - 300)));
      margin-bottom: 3rem;
    }
  }
}

