.welcome {
    width: 100%;
    height: 100%;
    /*background-color: rgba(15, 48, 84, 0.9);*/
    min-height: 100vh;
    overflow: hidden;
}

.welcome .text-div {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   padding:0 calc(30px + (100 - 30) * ((100vw - 300px) / (1600 - 300))); 
    z-index: 0;
    width: 100%;
    overflow: hidden;
}

.welcome .text-div h1 {
    margin: 2rem .8rem !important;
    font-size: calc(30px + (35 - 30) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 700 !important;
   
}

.welcome .text-div a {
    border: 2px solid white;
    margin-top: 30px;
    border-radius: 30px !important;
    padding: 1rem 3rem !important;
    font-size: 15px;
    width: 80%;
    font-weight: 600 !important;
    background: transparent;
    color: rgba(245, 245, 245, 0.5);
    display: inline-block;
    text-decoration: none;
}

.welcome .text-div a:hover {
    color: rgba(245, 245, 245, 1);

}
.welcome img{
    width:200px ;
}