.scroll{
    animation: MoveUpDown 2s linear infinite;
    position: absolute;
    color:white;
    bottom: 0;
    left: -29px;
    width: fit-content;
    height: fit-content;
    p{
    transform: rotate(90deg);
}
img{
    transform: translate(-17px, 37px);
}
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 20px;
    }
  }
@media(max-width:576px){
    .scroll{ 
      left:-10px;
     img{
        transform: translate(-1px, 37px);
    } 
    } 
}