.heading {
    border-bottom: 2px solid;
    font-weight: bolder;
    color: black;
    font-size: 16px;
    padding-bottom: 4px;
    width: fit-content;
    margin-bottom: 5px;
}

.footer li a {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.inline li {
    display: inline;
    margin-right: 2em;
}

.inline li img {
    width: 20px;
}

.footer span img {
    margin-right: 1em;
    width: 15px;
    height: 15px;
}
.footer{
    min-height: 70vh;
    margin-top: 200px;
  }

.li {
    font-size: 13px;
    font-weight: 500;
    color: black;
    padding-bottom: 7px;
}
  @media(min-width:768px){
    .footer li {
        display: flex;
        }
  }
