.lineTitle{
    width: 70%;
    margin: .7em auto;
    overflow: hidden;
    text-align: center;
    font-weight:300;
    color: #fff;
    font-weight: 500;
    &::before{
    content: "";
    display: inline-block;
    width: 30px;
    margin: 0 .5em 0 0;
    vertical-align: middle;
    border-bottom: 2px solid;
      }
}

