.titleImg{
    width: 54%;
    margin: .7em auto;
    overflow: hidden;
    text-align: center;
    font-weight:300;
    color: #fff;
    font-size: 16px !important;
    display: inline-block;
    text-align: left;
    &:after {
    content: "";
    display: inline-block;
    width: 40px;
    vertical-align: middle;
    border-bottom: 1px solid;
    margin: 0 .5em 0 .5em;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
  }
}
