.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    height: 365px;
    max-width: 355px;
    z-index: 0;
    border: none !important;
    border-radius: 1.25rem !important;
  .cardImgOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0 !important;
    left: 0;
    padding: 1.25rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 1.25rem !important;
    color: white
} 
.icons {
    display: none;
    margin-bottom: 1.2rem;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
}
.cardImg {
    height: 350px !important;
    border-radius: 1.25rem !important;
}
.moreInfo {
    position: absolute;
    z-index: 1;
    margin: auto auto;
    bottom: 0;
    text-decoration: none;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    }
&:hover .icons {
    display: block;
}
&:hover .title {
    display: none;
}
.shodowImg {
    position: relative;
    width: 100%;
    border-radius: 1.25rem !important;
    overflow: hidden;
    height: 100%;
    &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0, rgba(3, 3, 3, .5) 94%);
}
}
&:hover .shodowImg::after {
    background-image: linear-gradient(to bottom, transparent 0, rgb(3, 3, 3) 94%);
}
}



@media(min-width:500px) {
    card {
      .text {
        font-size: calc(9px + 8*((100vw - 300px) / (1600 - 300)));
    }  
    }
}