.news{
 .slick-slider {
  width: 100% !important;
}
 .slick-slide>div {
  margin: 0 25px;
}

 .slick-list {
  margin: 0 -25px;
  padding: 0 !important;
}

 .nextBtn,
 .prevBtn {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: -70px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -ms-transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
 .showAllCarosel {
  top: -30px;
  right: 75px;
  position: absolute;
}
}
