.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  height: auto;
  z-index: 0;
  border: none !important;

  .icons {
    display: none;
    margin-bottom: 1.2rem;
    height: 100%;
    width: 100%;
    padding-top: 2rem;

  }

  .cardImg {
    height: 500px !important;
    width: 100%;
  }

  .cardImgOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0 !important;
    left: 0;
    padding: 1.25rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white
  }

  .shodowImg {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }

  .title {
    position: absolute;
    width: 70%;
    top: 50%;
    transform: translateY(-50%);
  }

  .moreInfo {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    bottom: 0;
    left: 20%;
  }

  .next,
  .prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }

  &:hover {
    .icons {
      display: block;
    }

    .shodowImg {
      &::after {
        background-color: rgba(3, 3, 3, .4);
      }
    }
  }
}


.spCard {
  border: none !important;

  .cardBody {
    padding-left: 0 !important;
  }
}


.arrows {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;

  img {
    width: 40px;
  }
}


/*pagination*/
/*.pagination {
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: auto;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

ul.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: var(--secondary) !important;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: white;
}

ul.pagination .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--secondary);
  border-color: var(--secondary);
}

ul.pagination .page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: var(--secondary);
  border-color: #dee2e6;
}*/