.about{
 p {
    font-size: calc(11px + (16 - 11) * ((100vw - 300px) / (1600 - 300)));
    line-height: 1.9rem;
    font-weight: 400;
    margin: 2rem 0;
    margin-right: 3rem;
 }
    .slidebtn {
    z-index: 2;
    position: absolute;
    left: -55px;
    top: 27px;
}

 .slideItems img {
    height: calc(370px + (600 - 370) * ((100vw - 300px) / (1600 - 300)));
    width: 100%;
    border-radius: 28px 0 0 28px;
}

 .slidebtn img {
   width: 55px;
}

 .nextBtn,
 .prevBtn {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 46px;
    display: block;
    right: 95%;
    width: 20px;
    height: 20px;
    padding: 0;
    -ms-transform: translate(0, -50%);
    /* transform: translate(0, -50%); */
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

 .nextBtn img,
 .prevBtn img {
    width: 50px;
}

 .prevBtn {
    left: -50px !important;
}

 .nextBtn {
    left: 0;
}

}


@media(max-width:568px) {
    .about {
    .slidebtn img {
        width: 30px; 
    }
        .slidebtn {
        left: -29px;
    }

     .nextBtn img,
     .prevBtn img {
        width: 34px;
    }

     .prevBtn {
        left: -33px !important;
    }

     .nextBtn {
        left: 0;
    }

    }

}

