
.aboutUs{
   .img {
    width: 90%;
} 
 p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

}



@media(max-width:576px) {
    .aboutUs{
      .img {
        width: 100%;
    }  
    } 
}