.values {
    height: auto;
}

.valueContent {
    display: grid;
    grid-template-rows: repeat(22, 1fr);
    grid-template-columns: repeat(21, 1fr);
    height: 860px; 

    h3 {
    font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));

}

 p {
    font-size: calc(11px + (15 - 11) * ((100vw - 300px) / (1600 - 300)));
}

 .valuesIcons img {
    width: calc(35px + (45 - 35) * ((100vw - 300px) / (1600 - 300)));
}

 .valuesIcons {

    background-color: white;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center
}
}



.path img {
    width: 100%;
    height: 100%;
}

.path_1 {
    grid-area: 10/1/14/4;
    width: 100%;
}

.path_2 {
    grid-area: 10/4/14/9;
    width: 100%;
}

.path_3 {
    grid-area: 10/9/14/14;
    width: 100%;
}

.path_4 {
    grid-area: 8/14/14/18;
    width: 100%;
}

.path_5 {
    grid-area: 4/18/9/22;
    width: 100%;
}

.title1 {
    grid-area: 3/2/6/10;
}

.item1Img {
    grid-area: 12/3/15/5;
}

.item1Txt {
    grid-area: 15/3/18/6;
}

.item2Img {
    grid-area: 9/8/12/10;
}

.item2Txt {
    grid-area: 12/8/15/11
}

.item3Img {
    grid-area: 12/13/15/15
}

.item3Txt {
    grid-area: 15/13/17/16;
}

.item3Txt h3 {
    white-space: nowrap;
}

.item4Img {
    grid-area: 7/17/9/19;
}

.item4Txt {
    grid-area: 10/17/13/20;
}

@media(max-width:568px) {
    .valueContent {
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 1000px; 
        .valuesIcons {
        background-color: white;
        width: 73px;
        height: 73px !important;
        min-height: 73px;
        margin: auto;
        border-radius: 85%;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: .4em;
    }

   .txt {
        width: 54%;
        margin: .8rem auto;
        margin-bottom: 2.4rem;
    }

     img {
        width: 36px;
        height: 36px;
    }
    }

    .path {
        display: none;
    }


}