.post {

  .img {
    width: 75%;
    height: auto;
  }

  p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }

  .login {
    border-radius: 30px;
    background-color: rgb(0, 32, 74);
    color: white !important;
  }

  .nextBtn,
  .prevBtn {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -60px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -ms-transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
  }

}


@media (max-width: 576px) {
  .post {
    .img {
      width: 100%;
      height: auto;
    }
  }

}