html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

* {
    box-sizing: border-box;
}

.slickBorder {
    border-radius: 30px 0 0 30px;
}

.video-react .video-react-big-play-button {
    display: none !important;
}

.video-react .video-react-video {
    z-index: 1;
}

.btncarosel {
    width: 80%;

}

.btncarosel img {
    width: 40px;
}

.carousel-2 .owl-item {
    width: 330px !important;
}

.carousel-2 .owl-item img {
    height: 300px !important;
}

.slick-slider {
    width: 100% !important;
}

.container {
    height: 540px;
}

input:focus {
    outline: none;
}

.carousel .owl-item {
    width: 370px !important;
    height: 380px !important;
}

.owl-stage {
    transform: translate3d(60px, 0px, 0px);
}

.owlCarousel .slick-slide > div {
    margin: 0 25px;
}

.slick-slide > div > div {
    outline: none;
}

.slick-slide img {
    display: block;
}

.slick-list, .slick-slider {
    position: relative;
    display: block;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    transform: translateZ(0);
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list {
    margin: 0 -25px;
    padding: 0 !important;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);;
}

.tracking {
    background-color: rgb(251, 70, 89) !important;
    color: white !important;
    padding: 14px 45px !important;
    border-radius: 30px !important;
    /* width: 100px;*/
}

.tracking:hover {
    background-color: var(--secondary) !important;
    text-decoration: none !important;
}

.inline li {
    display: inline !important;
    margin-right: 2em;
}

.inline li img {
    width: 20px;
}

:root {
    --maincolor: rgb(157, 157, 157);
    /* --inputcolor: rgb(243, 243, 243);*/
}