header {
  z-index: 10;
}

.navBar {
  width: 100%;
  flex-wrap: wrap;
  z-index: 10;
  position: fixed !important;
}

.dropdown-item {
  text-align: center !important;
}

.dropdown-item a {
  color: rgba(255, 255, 255, 0.5) !important;
}

.scrollnav {
  transition: .5s;
  background-color: var(--primary) !important;
}

/***scroll bar*/

.navbar-collapse > ul::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.navbar-collapse > ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.navbar-collapse > ul::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle on hover */
.navbar-collapse > ul::-webkit-scrollbar-thumb:hover {
  background: white;
}

.scrollpadding {
  transition: 1s;
  padding: 1.5rem 0 !important;
}

.navBar .navbar-nav {
  padding: 1rem 0;
}

.navBar-simple {
  padding-top: 40px !important;
  flex-wrap: wrap;
  z-index: 2;
}

.dropdown-item:hover {
  background-color: transparent !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.custom-navbar {
  width: inherit;
  justify-content: space-around;
  flex-wrap: wrap;
}

.custom-navbar li {
  flex-basis: 11%;
  flex-grow: initial;
  width: fit-content;
  margin: auto;
}

.custom-navbar li a {
  white-space: nowrap;
  font-size: 14px;
}

.navLink {
  text-align: center;
  flex-wrap: wrap;
  /* padding-right: 2rem;*/
}

.navBar .navLink {
  padding-right: 2rem;
}

.navBar .nav-link {
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
}

.navLink a:hover {
  opacity: 1;
}

.login {
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center
}

.login a {
  color: black !important;
  padding: 6px 30px !important;
}

.navbar-light .login {
  border-radius: 30px;
  background-color: var(--primary);
  color: white !important;
}

.navbar-brand img {
  width: 110px;
  transform: translateY(-7px);
}

@media (min-width: 768px) {
  .navBar-simple2 {
    background-color: transparent !important;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row wrap !important;
    justify-content: flex-start;
  }
}


@media(max-width: 992px) {

  .navBar {
    background-color: var(--primary) !important;
  }

  .navBar .nav-link {
    color: #f1f1f1;
    font-weight: 700;
    font-size: 20px;
  }

  .navBar .navbar-collapse > ul {
    max-height: 90vh !important;
  }

  .navBar .nav-item {
    width: fit-content;
  }
}

@media(max-width: 992px) {
  .navBar-simple {
    background-color: var(--primary);
  }

  .custom-navbar li a {
    font-size: 20px;
  }
}

.login {
  color: black !important;
  padding: 6px 30px !important;
}

/*side menu*/
body.offcanvas-active {
  overflow: hidden;
}

.offcanvas-header {
  display: none;
}

@media (max-width: 992px) {
  .offcanvas-header {
    display: block;
  }

  .navBar .navbar-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 999;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: var(--primary);
    transition: visibility 1s ease-in-out, transform 1s ease-in-out;
  }

  .navBar .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }

}