.s-card{
    overflow: hidden;
   /* width: 320px !important;*/
    border-radius: 1.25rem !important;
    box-shadow: 0 0.1rem 1rem rgba(0,0,0,.15)!important;
}
.s-card .card-img-top{
    border-bottom:5px solid  ;
    width:100%  !important;
    height: 300px;
}
.s-card .card-title{
    font-weight: bold;
    }
  .s-card .card-text{
    font-size: 14px;
}
.s-card .history{
    font-size: 10px;
    font-weight: 500;
    display: inline-flex;
    text-align: left;
    align-items: center;
}